{% load static %}
    <footer class="page-footer font-small blue pt-1">
        <div class="footer-copyright text-center py-3">
            <a href="https://twitter.com/bemusicscript?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @bemusicscript</a>
            <a class="github-button" href="https://github.com/iidx" data-color-scheme="no-preference: light; light: light; dark: light;" data-size="small" aria-label="Follow @iidx on GitHub">Follow @iidx</a>
        </div>
        <div class="powered">
            <a href="https://www.notion.so/Saber-Profile-438979e7bb7645e6a3c2adc2e1ab98fa" target="_blank">Patch Notes</a></br>
            API Supported by <a href="https://scoresaber.com" target="_blank">Scoresaber</a>
        </div>
    </footer>
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" />
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>

