{% load static %}
{% include 'base/header.html' %}
{% load get_filter %}
{% load static %}

                <div class="container">
                    <div class="main_desc">
                        <hr>
                        <p>SABER PROFILE version: <a href="https://www.notion.so/Saber-Profile-438979e7bb7645e6a3c2adc2e1ab98fa" target="_blank">0.3v</a></p>
                        <br>
                        <p>This service works using <a href="https://scoresaber.com" target="_blank">scoresaber.com</a>'s API.</p>
                        <br>
                        <p>Frontend, Backend Developer: <a href="https://twitter.com/bemusicscript" target="_blank">xert*(@bemusicscript)</a></p>
                        <p>Donate: <a href="https://www.buymeacoffee.com/extr" target="_blank">Buy me A Coffee</a></p>
                        <br>
                        <p>Thanks for using my service :)</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% include 'base/footer.html' %}